<h1>My Notifications</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li style="<%= 'font-weight: bold;' unless notification.read %>">
      <%= notification.message %>
      <% unless notification.read %>
        <%= link_to "Mark as read", mark_as_read_notification_path(notification), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>