
<footer class="py-12 text-center text-gray-500 text-sm border-t border-gray-200" style="background-color: #d0e6d1;">
    <div class="max-w-3xl mx-auto px-4">
      <div class="mb-3">
        <h5 class="mt-5">Found it</h5>
        <%= link_to "Home", root_path, class: "text-decoration-none text-muted" %>
      </div>
      <div class="flex justify-center gap-6">
        <a href="mailto:support@onlibrary.com" class="text-muted mx-2">support@foundit.com</a>
        <a href="#" class="text-muted mx-2">Instagram</a>
        <a href="#" class="text-muted mx-2">LinkedIn</a>
      </div>
      <p class="small text-muted mt-2 mb-5">© 2025 FoundIt. All rights reserved.</p>
    </div>
  </footer>
