.new_lost_item,
.new_found_item {
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;

    input,
    select,
    textarea {
        max-width: 600px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 1rem;
        font-size: 0.95rem;
    }
}

.edit_found_item {
    max-width: 1000px;
    margin-left: 0 !important;
    margin-right: auto !important;

    input,
    select,
    textarea {
        max-width: 1000px !important;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 1rem;
        font-size: 0.95rem;
    }
}

.edit_found_item input.upload-image {
    max-width: 1000px !important;
    width: 100% !important;
    display: block;
    /* utile si Bootstrap le rend inline */
}

.mapboxgl-ctrl-geocoder {
    background-color: transparent !important;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;

    .mapboxgl-ctrl-geocoder--input {
        background-color: transparent !important;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        border: 1px solid #ccc;
        padding: 0.70rem;
        border-radius: 8px;
        width: 100%;
        padding-left: 2.5rem;
        height: 48.8px;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        margin-right: 1rem;
    }
}

.edit_found_item .mapboxgl-ctrl-geocoder {
    max-width: 1000px !important;
    margin-left: 0 !important;
    margin-right: auto !important;
    width: 100%;
}

.edit_found_item .mapboxgl-ctrl-geocoder--input {
    max-width: 1000px !important;
}

textarea#lost_item_description,
textarea#found_item_description {
    min-height: 110px !important;
    height: 110px !important;
    resize: vertical;
    // background-color: #fff;
}

.form-check-input[type="radio"]:checked {
    background-color: #2ecc71 !important;
    border-color: #2ecc71 !important;
}

.form-check-input[type="radio"]:focus {
    box-shadow: 0 0 0 0.25rem rgba(46, 204, 113, 0.25) !important;
    border-color: #2ecc71 !important;
}

.edit_found_item .edit-date {
    padding-right: 11.8rem !important;
}

.uploaded-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}

.preview-image {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}

.delete-btn:hover {
    background: red;
}