// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";

.alert-danger {
  background-color: #ffe6e6;
  padding: 10px;
  border-left: 4px solid red;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 0.9em;
}
