// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/matches_show";
@import "components/button";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";
@import "components/index";

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.error {
  color: red;
  font-size: 0.9em;
}

.main-bg {
  background-color: #D0E6D1;
  height: 80px;
}

.report-card {
  background-color: #ffecec;
  border: 1px solid #f3c6c6;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.report-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.edit-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #6c757d;
  z-index: 10;
}

.edit-icon:hover {
  color: #000;
}
